 {{!-- from Home page --}}

 <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">


 {{!-- stylesheet section link --}}
  <link rel="stylesheet" href="/stylesheets/core-style.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
 
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  {{!-- <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.min1.css">
   
  {{!-- <link rel="stylesheet" href="/stylesheets/forget.css"> --}}
  {{!-- <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css"> --}}
   
  {{!-- <link rel="stylesheet" href="/stylesheets/login.css"> --}}
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
   
  <link rel="stylesheet" href="/stylesheets/nouislider.css">
  <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
   <link rel="stylesheet" href="/stylesheets/responsive.css">
    {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> 
  <link rel="stylesheet" href="/stylesheets/themify-icons.css">  --}}























<div id="wrapper"> 

            <!-- Top Header Area End -->
            {{!-- <div  class="list-group mb-3 sticky-top" > --}}
            <div class="main_header_area">

       

                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 d-md-flex justify-content-between">
                            <!-- Header Social Area -->
                            <div class="header-social-area">
                                {{!-- <span class="karl-level">Share</span> --}}
                                <a href="#"> <i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <!-- Menu Area -->
                            <div class="main-menu-area">
                                <nav class="navbar navbar-expand-lg align-items-start">

                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>   
                                    <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                        <ul class="navbar-nav animated" id="nav">
                                         {{!-- <li class="nav-item active"> <a href="#"><img src="img/core-img/NEXO1.png" alt=""  ></a></li> --}}
                                         <li class="nav-item active"> <a href="#"><img src="img/core-img/logo.png" alt=""  ></a></li>


                                            <li class="nav-item active"><a class="nav-link" href="/home"> Home</a></li>
                                            
                                           <li class="nav-item active"><a class="nav-link"   href="#">Mobiles</a></li>
                                           <li class="nav-item active"><a class="nav-link" href="#"> Laptops</a></li>
                                             <li class="nav-item active"><a class="nav-link"   href="/order-details">Orders</a></li>


                                             
                                            <li class="nav-item active">  <a class="nav-link"  href="/cart">Cart<i class="ti-bag"></i> </a></li>
                                            
                                            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li> 
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Help Line -->
                           
                            <div class="help-line">
                               {{!-- <i class="ti-headphone-alt"></i> --}}
                                <a href="/logout">LOGOUT</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
              {{!-- </div>   --}}
            </div>

            
        </header>
        <!-- ****** Header Area End ****** -->
        

        <!-- ****** Top Discount Area Start ****** -->
        <section class="top-discount-area d-md-flex align-items-center">
            <!-- Single Discount Area -->
              
            <div class="single-discount-area">
                <h5>Free Shipping &amp; Returns</h5>
                {{!-- <h6><a href="#">BUY NOW</a></h6> --}}
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>15% Discount for all Products</h5>
                {{!-- <h6>USE CODE: Colorlib</h6> --}}
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>Flat ₹2,000 Instant Discount with Online-Payment</h5>
                {{!-- <h6>USE CODE: Colorlib</h6> --}}
            </div>
              
        </section>
        <!-- ****** Top Discount Area End ****** -->


        
        <section class="shop_grid_area section_padding_100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="shop_sidebar_area">
                           
                            <div class="widget catagory mb-50">
                                <!--  Side Nav  -->
                                <div class="nav-side-menu">
                                    <h6 class="mb-0">Catagories</h6>
                                    <div class="menu-list">
                                        <ul id="menu-content2" class="menu-content collapse out">
                                            <!-- Single Item -->
                                            <li data-toggle="collapse" data-target="#women2">
                                                <a href="#">Woman wear</a>
                                                <ul class="sub-menu collapse show" id="women2">
                                                    <li><a href="#">Midi Dresses</a></li>
                                                    <li><a href="#">Maxi Dresses</a></li>
                                                    <li><a href="#">Prom Dresses</a></li>
                                                    <li><a href="#">Little Black Dresses</a></li>
                                                    <li><a href="#">Mini Dresses</a></li>
                                                </ul>
                                            </li>
                                            <!-- Single Item -->
                                            <li data-toggle="collapse" data-target="#man2" class="collapsed">
                                                <a href="#">Man Wear</a>
                                                <ul class="sub-menu collapse" id="man2">
                                                    <li><a href="#">Man Dresses</a></li>
                                                    <li><a href="#">Man Black Dresses</a></li>
                                                    <li><a href="#">Man Mini Dresses</a></li>
                                                </ul>
                                            </li>
                                            <!-- Single Item -->
                                            <li data-toggle="collapse" data-target="#kids2" class="collapsed">
                                                <a href="#">Children</a>
                                                <ul class="sub-menu collapse" id="kids2">
                                                    <li><a href="#">Children Dresses</a></li>
                                                    <li><a href="#">Mini Dresses</a></li>
                                                </ul>
                                            </li>
                                            <!-- Single Item -->
                                            <li data-toggle="collapse" data-target="#bags2" class="collapsed">
                                                <a href="#">Bags &amp; Purses</a>
                                                <ul class="sub-menu collapse" id="bags2">
                                                    <li><a href="#">Bags</a></li>
                                                    <li><a href="#">Purses</a></li>
                                                </ul>
                                            </li>
                                            <!-- Single Item -->
                                            <li data-toggle="collapse" data-target="#eyewear2" class="collapsed">
                                                <a href="#">Eyewear</a>
                                                <ul class="sub-menu collapse" id="eyewear2">
                                                    <li><a href="#">Eyewear Style 1</a></li>
                                                    <li><a href="#">Eyewear Style 2</a></li>
                                                    <li><a href="#">Eyewear Style 3</a></li>
                                                </ul>
                                            </li>
                                            <!-- Single Item -->
                                            <li data-toggle="collapse" data-target="#footwear2" class="collapsed">
                                                <a href="#">Footwear</a>
                                                <ul class="sub-menu collapse" id="footwear2">
                                                    <li><a href="#">Footwear 1</a></li>
                                                    <li><a href="#">Footwear 2</a></li>
                                                    <li><a href="#">Footwear 3</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="widget price mb-50">
                                <h6 class="widget-title mb-30">Filter by Price</h6>
                                <div class="widget-desc">
                                    <div class="slider-range">
                                        <div data-min="0" data-max="3000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="0" data-value-max="1350" data-label-result="Price:">
                                            <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        </div>
                                        <div class="range-price">Price: 0 - 1350</div>
                                    </div>
                                </div>
                            </div>

                            <div class="widget color mb-70">
                                <h6 class="widget-title mb-30">Filter by Color</h6>
                                <div class="widget-desc">
                                    <ul class="d-flex justify-content-between">
                                        <li class="gray"><a href="#"><span>(3)</span></a></li>
                                        <li class="red"><a href="#"><span>(25)</span></a></li>
                                        <li class="yellow"><a href="#"><span>(112)</span></a></li>
                                        <li class="green"><a href="#"><span>(72)</span></a></li>
                                        <li class="teal"><a href="#"><span>(9)</span></a></li>
                                        <li class="cyan"><a href="#"><span>(29)</span></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="widget size mb-50">
                                <h6 class="widget-title mb-30">Filter by Size</h6>
                                <div class="widget-desc">
                                    <ul class="d-flex justify-content-between">
                                        <li><a href="#">XS</a></li>
                                        <li><a href="#">S</a></li>
                                        <li><a href="#">M</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                            </div>
   


              


















        <!-- ****** Footer Area Start ****** -->
        <footer class="footer_area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_footer_area">
                            <div class="footer-logo">
                                {{!-- <ul>Hi,there we are</ul> --}}
                                <img src="img/core-img/logo.png" alt="" >                     
                                
                            </div>
                            {{!-- <div class="copywrite_text d-flex align-items-center">
                                <p>WE the Nexo Group are the top selling Platform in lead online selling sites, almost all Countries</p>
                            </div> --}}
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">About</a></li>
                                {{!-- <li><a href="#">Blog</a></li>  --}}
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Returns</a></li>
                             <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Our Policies</a></li>
                                <li><a href="#">Afiliates</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-lg-5">
                        <div class="single_footer_area">
                            <div class="footer_heading mb-30">
                                <h6>Hi,there we are Nexo Group</h6>
                         
                            <div class="subscribtion_form">
                                <form action="#" method="post">
                                    <input type="email" name="mail" class="mail" placeholder="Your email here">
                                    <button type="submit" class="submit">Subscribe</button>
                                </form>
                            </div>
                             <div class="copywrite_text d-flex align-items-center">
                                <p>We the Nexo Group, are the top selling Platform in online selling sites almost in all Countries for Last 6 years.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
               </div>

 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <!-- add to cart popup -->
   <script src="js/jquery/jquery-2.2.4.min.js",src="js/popper.min.js",src="js/bootstrap.min.js",src="js/plugins.js",src="js/active.js">  </script>

 <script>
  <link rel="js" href="jquery/jquery-2.2.4.min.js">
   <link rel="js" href="js/active.js">
   <link rel="js" href="js/bootstrap.min.js">
   <link rel="js" href="js/plugins.js">
   <link rel="js" href="js/popper.min.js">
</script> 